<h1>Show item <%= @good.name %></h1>
<p id="notice"><%= notice %></p>
 <div style='width: 500px;'>
  <%= image_tag @good.image.url(:normal) %>
  <%= @good.description %>
</div>
<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', @good.category %>
