<p id="notice"><%= notice %></p>
<h2> Content of category <%= @category.name %> </h2>
<%= render partial: 'subcategories', locals: { categories: @category.children } %>
<%= render partial: 'goods', locals: { goods: @category.goods } %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back to all categories', categories_path %>
