<p id="notice"><%= notice %></p>
<h2> Content of category <%= @category.name %> </h2>
<%= render partial: 'subcategories', locals: { categories: [@category], first: true } %>
<% if @category.parent %>
  <%= link_to 'Back to parent category', category_path(@category.parent) %> |
<% end %>
<%= link_to 'Back to all categories', categories_path %>
